@keyframes scaleAndMove {
    0% {
      transform: scale(0);
    }
    70% {
      transform: scale(1);
    }
    100% {
      transform: scale(1) translateX(-50%);
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 270px; /* Esto debe ser lo suficientemente grande para mostrar todo tu texto. Ajusta según necesites */
    }
}
@keyframes typing2 {
  from {
    width: 0;
  }
  to {
    width: 200px; /* Esto debe ser lo suficientemente grande para mostrar todo tu texto. Ajusta según necesites */
  }
}
  @keyframes blurIn {
    from {
        filter: blur(8px); 
        opacity: 0;
    }
    to {
        filter: blur(0);
        opacity: 1;
    }
}
.GitHubIcon {
  width: 35px;
  height: auto;
  margin-left: 6px;
  margin-right: 6px;
  transition: transform 0.3s;
}
.GitHubIcon:hover {
  transform: scale(1.1);  /* Esto agranda el icono en un 10% */
}
.LinkedinIcon {
    width: 35px;
    height: auto;
    margin-left: 6px;
    margin-right: 6px;
    transition: transform 0.3s;
  }
  .LinkedinIcon:hover {
    transform: scale(1.1);  /* Esto agranda el icono en un 10% */
  }
  .GmailIcon {
    width: 35px;
    height: auto;
    margin-left: 6px;
    margin-right: 6px;
    transition: transform 0.3s;
  }
  .GmailIcon:hover {
    transform: scale(1.1);  /* Esto agranda el icono en un 10% */
  }
  .WhatsappIcon {
    width: 35px;
    height: auto;
  margin-left: 6px;
  margin-right: 6px;
  transition: transform 0.3s;
}
.WhatsappIcon:hover {
  transform: scale(1.1);  /* Esto agranda el icono en un 10% */
}
.ArgentinaMapa {
  width: 100%;
  height: 240px;
  align-items: center;
  margin-top: 29px;
  animation: blurIn 1s forwards;
  /* overflow: hidden; */
}
.VideoMapa {
  width: 302px;
  height: 200px;
  align-items: center;
  overflow: hidden;
  margin-left: 27px;
}
.FrameOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  pointer-events: none;
  margin-top: 20px;
}
.futuristicFrame {
  /* background: rgba(255, 255, 255, 0.1); */
  /* border-radius: 1px; */
  padding: 10px;
  display: inline-block;
  backdrop-filter: blur(5px);
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  /* box-shadow: 
  0 0 1px rgba(0, 255, 255, 0.5), 
  0 0 1px rgba(0, 255, 255, 0.5), 
  0 0 1px rgba(0, 255, 255, 0.7), 
  0 0 1px rgba(0, 255, 255, 0.7); */
  /* margin-top: 350px;
  margin-left: 7px; */
}
.Nombre h1 {
  font-family: 'Orbitron', sans-serif;
  color: #6acece;
  text-shadow: 
    0 0 1px rgba(0, 255, 255, 0.5), 
    0 0 1px rgba(0, 255, 255, 0.5);
  }
  .Nombre h2 {
    font-family: 'Orbitron', sans-serif;
    color: #3eac78;
    text-shadow: 
  0 0 1px rgba(52, 185, 119, 0.603), 
  0 0 1px rgba(60, 177, 109, 0.5);
}
.Nombre {
  font-family: 'Orbitron', sans-serif;
  animation: blurIn 1s forwards;
}
.NeonWrapper {
  position: relative;  /* agregado para las lineas animadas */
  display: inline-flex;
  margin-left: 150px;
  padding: 5px;
  border-radius: 50%;
  border: 6px solid #00acfe;
  box-shadow: 0 0 3px #00acfe,
  0 0 2px #00acfe, 
  0 0 3px #00acfe, 
  0 0 4px #00acfe;
  animation: scaleAndMove 3s forwards;
  animation-timing-function: ease-out;
  margin-top: 26px;
}
.ImagenFacundoContainer {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  border: 20px solid #00acfe;
  box-shadow: 0 0 3px #00acfe,
  0 0 2px #00acfe,
  0 0 3px #00acfe,
  0 0 4px #00acfe;
}
.ImagenFacundo img {
  /* display: block; */
  max-width: 100%;  
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* .HomeCss {

  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    position: relative;
    align-items: start;
  } */
  .ContenedorMapa {
    position: relative;
    width: 360px;
    height: 210px;
    /* overflow: hidden; */
    /* margin-top: 170px; */
  }
  .ContenedorNombre {
    /* margin-top: 200px; */
  }
  
  
  .map {
    position: relative;
    /* width: 240px;
    height: 300px; */
    /* border: 1px solid black; */ /* Solo para visualizar el mapa */

  }
  
  .point {
    position: absolute;
    left: 196px; 
    top: 135px;
    width: 10px;
    height: 10px;
    background: #41c3ff;
    border-radius: 50%;
    box-shadow: 0 0 4px #00acfe,
    0 0 4px #00acfe,
    0 0 4px #00acfe,
    0 0 4px #00acfe;
    opacity: 0;
    animation: showPoint 1s forwards; 
    animation-delay: 17s;
  }
  @keyframes showPoint {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .line {
    background: #00acfe;
    position: absolute;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    box-shadow: 0 0 2px #00acfe,
    0 0 2px #00acfe,
    0 0 2px #00acfe,
    0 0 2px #00acfe;
  }
  
  .line-vertical {
    left: 200px; 
    top: 144px;
    width: 2px;
    height: 0; /* Inicialmente no tiene altura */
    animation-name: drawLineVertical;
    animation-delay: 19s;
  }
  
  @keyframes drawLineVertical {
    to {
      height: 85px; /* La línea crecerá 100px hacia abajo */
    }
  }
  
  .line-horizontal {
    left: 200px; 
    top: 229px; 
    height: 2px;
    width: 0; /* Inicialmente no tiene ancho */
    animation-name: drawLineHorizontal;
    animation-delay: 21s; /* Espera a que la primera línea termine de dibujarse */
  }
  
  @keyframes drawLineHorizontal {
    to {
      width: 15px; /* La línea crecerá 30px hacia la izquierda */
    }
  }
  
  .text {
    position: absolute;
    left: 222px; /* Coloca el texto al final de la segunda línea */
    top: 220px;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0 0 2px #00acfe, 0 0 2px #00acfe;
    color: #00acfe;
    overflow: hidden; 
    white-space: nowrap; /* Esto evita que el texto se envuelva a la línea siguiente */
    width: 0;
    animation: typing 4s steps(30, end) forwards;
    animation-delay: 22s;
  }
  
  @keyframes fadeInText {
    to {
      opacity: 1;
    }
  }
  .Iconos {
    display: flex;
    justify-content: center;
    margin-top: 4%;
    /* bottom: 10px; */
    /* position: fixed; */
    /* left: 43%; */
    /* transform: translateX(-50%); */
    
  }
  
  

  
  
  
  
  
  
  
  
  
  .SobreMi {
      /* font-family: Arial, Helvetica, sans-serif; */
      font-family: Arial Narrow, sans-serif;
    font-style: italic;
      color: #00acfe;
      /* text-shadow: 0 0 1px #00acfe; */
      width: 200px;
      position: absolute;
      margin-left: 300px;
      margin-top: 42px;
      padding-right: 5px;
  }

  .SobreMi h4 {
    white-space: nowrap;
    overflow: hidden;
    width: 0;
    animation: typing2 1.5s steps(30, end) forwards;
    margin-top: 0.2em;  /* Ajuste de margen superior */
    margin-bottom: 0.2em;  /* Ajuste de margen inferior */
  }
  
  .SobreMi h4:nth-child(1) {
    animation-delay: 2.5s;
  }
  
  .SobreMi h4:nth-child(2) {
    animation-delay: 4s;
  }
  
  .SobreMi h4:nth-child(3) {
    animation-delay: 5.5s;
  }
  
  .SobreMi h4:nth-child(4) {
    animation-delay: 7s;
  }
  
  .SobreMi h4:nth-child(5) {
    animation-delay: 8.5s;
  }
  
  .SobreMi h4:nth-child(6) {
    animation-delay: 10s;
  }
  
  .SobreMi h4:nth-child(7) {
    animation-delay: 11.5s;
  }
  
  .SobreMi h4:nth-child(8) {
    animation-delay: 13s;
  }
  
  .SobreMi h4:nth-child(9) {
    animation-delay: 14.5s;
  }
  
  .SobreMi h4:nth-child(10) {
    animation-delay: 16s;
  }
  
  .SobreMi h4:nth-child(11) {
    animation-delay: 17.5s;
  }
  .Proyecto1 h4 {
    /* white-space: nowrap; */
    /* overflow: hidden; */
    /* width: 0; */
    margin-top: 0.2em;  /* Ajuste de margen superior */
    margin-bottom: 0.2em;  /* Ajuste de margen inferior */
    font-family: Arial Narrow, sans-serif;
    font-style: italic;
    color: #00acfe;
  }
  
  
  
  
  
  
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Separación entre botones */
  }
  
  .custom-button {
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 4px;
    /* font-weight: 600; */
    font-family: 'Orbitron', sans-serif;
    transition: transform 0.1s ease-in-out, box-shadow 0.2s ease-in-out;
  }
  
  .custom-button:hover {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .custom-button:active {
    transform: scale(0.93);
  }
  
.green-button {
  background-color: #4CAF50;
  color: white;
}

.purple-button {
  background-color: #9c27b0;
  color: white;
}




.TituloProyectos {
  text-align: center;
  font-family: 'Orbitron', sans-serif;
  text-shadow: 0 0 2px #00acfe, 0 0 2px #00acfe;
  color: #00acfe;
  margin-bottom: 7px;
}

.TechSkills {
  width: 40px;
  margin: 7px;
}

.Tecnologias {
  margin-left: 130px;
  margin-right: 50px;
}
.TechSkillsIcons {
  width: 162px;
}



.ContenedorMedio {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.ContMapNomb {
  display: flex;
  justify-content:space-between;
}
@media (max-width: 500px) {
  .ContMapNomb {
    flex-direction: column-reverse; 
    flex-wrap: wrap; /* Esto permitirá que los ítems pasen a la siguiente línea si no hay espacio */
  }
  .ContenedorMedio {
    flex-direction: column;
    /* justify-content: center; */
  }
  .Espaceador {
    padding-left: 8%;
    padding-right: 8%;
  }
}


















