/* body, html {
    height: 100%;
    align-items: center;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #383838;
} */
body, html {
    /* height: 100%; */
    margin: 0;
    background-color: #0f0f0f;
    /* text-align: center; */
}
#root {
    margin: 0;
    padding: 0;
}








/* overflow: hidden; */       /* quita el scroll y queda fijo aunq la sea mas grande */