body, html {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
    url('./assets/fondo1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    /* min-width: 30vh; */
    /* overflow: hidden; */       /* quita el scroll y queda fijo aunq la sea mas grande */
}